= page_title("Cineworld #{@cinema.name} | #{@cinema.name} Cineworld")
#cinema-address
  .grid_7.alpha
    %h2{:data => { :href => cinema_path(@cinema), :latitude => @cinema.lat, :longitude => @cinema.lng } }= "Cineworld #{@cinema.name}"
    %p= @cinema.to_address
  #map.grid_5.omega
  .clear

%h2.showings= "Showings for Cineworld #{@cinema.name}"
%ul#films
  = render :partial => 'film', :collection => @todays_films
.clear
